---
layout: default
---
<!-- Banner -->
<section id="banner" class="content-banner">
  <div class="container">
      <div class="inner">
        <h2><strong>Awareness</strong><br />&amp; Prevention</h2>
      </div>
  </div>
</section>

<section class="wrapper style1 container news">
    <div class="row news-item">
      <div class="col-md-4 col-bleed">
        <img src="http://via.placeholder.com/330x330" alt="" class="flex-img" />
      </div>
      <div class="col-md-8 news-excerpt">
{% capture articles %}
{% include_relative articles/_content/falls-in-older-adults-a-public-health-issue_snip.md %}
{% endcapture %}
{{ articles | markdownify }}
        <a href="{{ site.baseurl }}/falls-in-older-adults-public-health-issue.html" class="button alt">Read More</a>
      </div>
    </div>
</section>

<section id="one" class="container style1 news">
    <div class="row news-item">
      <div class="col-md-4 col-bleed">
        <img src="http://via.placeholder.com/330x330" alt="" class="flex-img" />
      </div>
      <div class="col-md-8 news-excerpt">
{% capture articles %}
{% include_relative articles/_content/falls-in-older-adults-a-public-health-issue_snip.md %}
{% endcapture %}
{{ articles | markdownify }}
        <a href="{{ site.baseurl }}/falls-in-older-adults-public-health-issue.html" class="button alt">Read More</a>
      </div>
    </div>
    <div class="row news-item">
                <div class="col-md-4 col-bleed">
                    <img src="http://via.placeholder.com/330x330" alt="" class="flex-img" />
                </div>
                <div class="col-md-8 news-excerpt">
{% capture articles %}
{% include_relative articles/_content/feel-something-say-something_snip.md %}
{% endcapture %}
{{ articles | markdownify }}
                    <a href="{{ site.baseurl }}/feel-something-say-something.html" class="button alt">Read More</a>
                </div>
            </div>
            <div class="row news-item">
                <div class="col-md-4 col-bleed">
                    <img src="http://via.placeholder.com/330x330" alt="" class="flex-img" />
                </div>
                <div class="col-md-8 news-excerpt">
{% capture articles %}
{% include_relative articles/_content/preventing-falls-around-the-home_snip.md %}
{% endcapture %}
{{ articles | markdownify }}
                    <a href="{{ site.baseurl }}/preventing-falls-around-the-home.html" class="button alt">Read More</a>
                </div>
            </div>
        </section>
        <section class="container style1">
            <header class="major">
                <h2 class="collapse-down">Are you at <strong class="color-highlight">Risk?</strong></h2>
                <h3>Find out now!</h3>
            </header>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="group input-group">
                            <label for="">Consectetuer adipiscing elit?</label>
                            <input class="form-control" name="" type="text" />
                        </div>
                        <div class="group input-group">
                            <label for="">Consectetuer adipiscing elit?</label>
                            <input class="form-control" name="" type="text" />
                        </div>
                        <div class="group input-group">
                            <label for="">Consectetuer adipiscing elit?</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="label-container">
                                        <input type="checkbox" name="" checked="checked"><span class="checkmark"></span> Ad minim veniam
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <label class="label-container">
                                        <input type="checkbox" name=""><span class="checkmark"></span> Quis nostrud
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <label class="label-container">
                                        <input type="checkbox" name=""><span class="checkmark"></span> Ad minim veniam
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <label class="label-container">
                                        <input type="checkbox" name=""><span class="checkmark"></span> Quis nostrud
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="group input-group">
                            <label for="">Consectetuer adipiscing elit?</label>
                            <input class="form-control" name="" type="text" />
                        </div>
                        <button class="button form-btn-center big" type="submit">Submit</button>
                    </form>
                </div>
            </div>
</section>
