.pop-tab * {margin: 0; padding: 0; display: block;}
.pop-tab {
  position: fixed;
  top: 123px;
  right: 0;
  color: $white;
  background: $cta;
  opacity: 0;
  transition: opacity .25s;
  z-index: -1;
}
.pop-tab.show {opacity: 1; z-index: 9999;}
.pop-tab span {display: none;}

@media screen and (max-width: 767px) {
  .pop-tab.show {width: 100%; top: auto; bottom: 0; opacity: .85;}
  .pop-tab img {display: none;}
  .pop-tab a {text-decoration: none;}
  .pop-tab:hover {opacity: 1;}
  .pop-tab span {
    padding: .5rem 1rem 0;
    color: $white;
    font-size: 1.5rem;
    display: block;
  }
}
